@charset "UTF-8";
nav {
  width: 100%;
  z-index: 2;
}

.navbar {
  position: fixed;
}

.navbar-nav {
  margin-left: auto;
}
.navbar-nav li {
  display: flex;
  justify-content: space-evenly;
}

footer div a {
  color: white;
  text-decoration: underline;
}
footer a:hover {
  color: rgb(185, 182, 182);
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(32, 31, 31);
  color: white;
  text-align: center;
}
.footer p {
  margin-bottom: 0px;
}

.miniFooter {
  margin-left: 10px;
}

.fondoProductos aside {
  border-radius: 5px;
  background-color: white;
  width: 15%;
  height: 100%;
  margin-right: 170px;
  position: relative;
  left: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
}
.fondoProductos div .limite {
  margin-left: 0px;
}

.buscador {
  border-radius: 10px;
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0.384);
  padding: 3px;
}

.container {
  padding: 5px;
  margin-bottom: 5px;
}

aside p {
  margin-top: 10px;
  margin-bottom: 5px;
}

.col-xl-1 {
  padding-left: 0px;
  padding-right: 0px;
}

.tituloAside {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: rgb(179, 122, 231);
  color: white;
  width: 100%;
  padding: 5px;
}

.opcionAside {
  padding-left: 10px;
}

.pagination {
  position: relative;
  left: -25px;
}

.prod-separation {
  margin-bottom: 20px;
}

/* .prod-button{
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
} */
.contacto {
  background-color: lightgray;
  height: 94.9vh;
  width: 100%;
}

main .card {
  top: 13%;
  left: 35%;
}

.mb-4 {
  background-color: white;
}

.center {
  position: relative;
  text-align: center;
}

.cartel {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 300px;
  height: 100px;
  padding: 20px;
  background-color: #333;
  color: #fff;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
}

.cartel:hover {
  height: auto;
  width: 1500px;
}

.cartel:after {
  content: "▼";
  display: block;
  font-size: 20px;
  position: absolute;
  bottom: 10px;
  left: calc(50% - 10px);
  opacity: 0;
  transition: opacity 0.5s ease;
}

.cartel:hover:after {
  opacity: 1;
}

.cartel .contenido-adicional {
  opacity: 0;
  transition: opacity 0s ease;
}

.cartel:hover .contenido-adicional {
  opacity: 1;
}

.space {
  position: sticky;
  padding-top: 50px;
}

.aviso {
  color: #817d7d;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
}

.imginfo {
  width: 400px;
  position: absolute;
  left: 150px;
  top: 80px;
}

.titleinfo {
  width: 55%;
  font-size: 25px;
  position: absolute;
  left: 580px;
  top: 95px;
}

.infoinfo {
  width: 50%;
  position: absolute;
  left: 580px;
  top: 500px;
  padding-bottom: 50px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.precio {
  width: 10%;
  position: absolute;
  left: 580px;
  top: 140px;
  font-size: 40px;
}

.demoinfo {
  width: 30%;
  position: absolute;
  left: 580px;
  top: 215px;
}

.editoinfo {
  width: 30%;
  position: absolute;
  left: 580px;
  top: 275px;
}

.demo {
  font-size: 22px;
  top: 6.5px;
  left: 3px;
  font-family: Arial, Helvetica, sans-serif;
}

.demo2 {
  font-size: 22px;
  top: 6.5px;
  right: -3px;
  font-family: Arial, Helvetica, sans-serif;
}

.carrito {
  width: 20%;
  position: absolute;
  left: 580px;
  top: 350px;
}

.miniinfo {
  width: 30%;
  position: absolute;
  left: 580px;
  top: 410px;
  color: rgb(40, 40, 134);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

hr {
  border: none;
  border-top: 1px solid #a09999;
  margin: 20px 0;
}

.final {
  margin-top: 695px;
}

/* .modal-body{
    height: 730px;
}

.modal-xl{
    max-width: 1300px;
}

.btn, .btn-primary{
    position: relative;
    align-items: center;
    align-content: center;
    text-align: center;
} */
#modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}

#modal {
  position: absolute;
  width: 90%;
  max-width: 1400px;
  height: 780px;
  overflow-y: auto;
  background-color: #f8f8f8;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  align-items: center;
  top: 100px;
}

.hidden {
  display: hide;
}

#close-modal {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: transparent;
  border: 2px rgb(255, 255, 255) solid;
  font-size: 16px;
  color: white;
  background-color: #e71414;
  border-radius: 10px;
  cursor: pointer;
}

#modal-content img {
  max-width: 100%;
  height: auto;
}

.demoinfo, .editoinfo {
  display: flex;
  align-items: center;
}

.demoinfo h4, .editoinfo h4 {
  margin-right: 10px;
}

.center {
  text-align: center;
}

.infoinfo, .miniinfo {
  margin-top: 20px;
  font-size: 14px;
}

#staticBackdrop {
  z-index: 1;
}

.btn-position {
  position: relative;
  left: 110px;
  margin-bottom: 10px;
}

.noDecoration {
  text-decoration: none;
  color: white;
}

.noDecoration:hover {
  text-decoration: none;
  color: white;
}

#modal2 {
  position: absolute;
  width: 90%;
  max-width: 870px;
  height: 550px;
  overflow-y: auto;
  background-color: #f8f8f8;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  align-items: center;
  top: 100px;
}

#close-modal2 {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: transparent;
  border: 2px rgb(255, 255, 255) solid;
  font-size: 16px;
  color: white;
  background-color: #e71414;
  border-radius: 10px;
  cursor: pointer;
}

.input_label {
  font-size: 15px;
  color: #8B8E98;
  font-weight: 600;
}

.input_sector {
  width: auto;
  height: 40px;
  padding: 0 0 0 16px;
  border-radius: 9px;
  outline: none;
  background-color: #F2F2F2;
  border: 1px solid rgba(229, 229, 229, 0);
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.input_sector:focus {
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 2px #242424;
  background-color: transparent;
}

.nombreModal {
  width: 30%;
  position: relative;
  top: 100px;
  left: 75px;
}

.form-width {
  width: 30%;
}

.input_position {
  position: relative;
  top: 5px;
  right: 10px;
}

.apellidoModal {
  width: 30%;
  position: relative;
  top: 34px;
  left: 325px;
}

.tarjetaModal {
  width: 25%;
  position: relative;
  top: 75px;
  left: 75px;
}

.cvvModal {
  position: relative;
  top: 15px;
  left: 325px;
  width: 10%;
}

.cvvt {
  position: relative;
  left: 10px;
}

.vencimientoModal {
  position: relative;
  left: 550px;
  top: -49px;
  width: 35%;
}

.mespad {
  margin-right: 20px;
}

.aniowidth {
  width: 20%;
}

.direccionCliente {
  position: relative;
  top: -10px;
  left: 75px;
}

.CPCliente {
  position: relative;
  left: 255px;
  top: -65px;
}

.localidadCliente {
  position: relative;
  left: 480px;
  top: -130px;
}

.form-position {
  position: relative;
  top: -30px;
  height: 400px;
}

.btnposition {
  position: absolute;
  top: 459px;
  right: 90px;
}

.fondoInicio, .fondoCarrito, .fondoPLanzamientos, .fondoOfertas, .fondoProductos {
  height: auto;
  width: 100%;
  background-color: rgb(219, 206, 189);
  padding-right: 90px;
  padding-left: 90px;
}

.fondoProductos {
  padding-top: 100px;
  padding-bottom: 75px;
}

.fondoOfertas {
  height: 94.9vh;
}

.fondoCarrito {
  background-color: rgb(250, 247, 247);
  height: 94.9vh;
  padding: 100px;
}

.panel {
  width: 300px;
  height: 400px;
  color: white;
}

main {
  padding-top: 100px;
}
main .container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.limite {
  width: 100%;
  margin-left: 67px;
  margin-right: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

.col-xl-3, .col-lg-4, .col-md-6, .col-sm-12, .col-xs-12 {
  padding-left: 0px;
  padding-right: 0px;
}

div .panel {
  margin-right: 0px;
  margin-bottom: 140px;
}

.mangaTitulo {
  background-color: rgb(228, 223, 223);
}

.estiloTitulo {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: black;
  text-align: center;
}

.title-container {
  clear: both;
  text-align: center;
}

.m-top {
  margin-top: 40px;
  margin-bottom: 40px;
}

.title-container:before, .title-container:after {
  display: table;
  content: " ";
}

.title:after {
  margin-left: 10px;
}

.title:before {
  border-bottom: 1px solid #7D7D7D;
  content: "";
  display: block;
  position: relative;
  margin-left: 90px;
  width: 38%;
  top: 21px;
}

.title:after {
  border-bottom: 1px solid #7D7D7D;
  content: "";
  display: block;
  position: relative;
  margin-left: 57%;
  width: 38%;
  top: -18px;
}

main div a {
  text-decoration: none;
}

.move {
  position: relative;
  left: 69px;
}

.separacion {
  position: relative;
  margin-left: 120px;
  margin-bottom: 50px;
  right: 35px;
}

div button {
  background-color: rgb(50, 209, 50);
  border: 2px black solid;
  border-radius: 50px;
}

#carrito {
  display: none;
}

.carrito-posicion {
  padding: 15px;
  position: fixed;
  width: 80px;
  height: 80px;
  left: 1800px;
  top: 790px;
  float: right;
}/*# sourceMappingURL=main.css.map */