@charset "UTF-8";
nav {
  width: 100%;
  z-index: 2;
}

.navbar {
  position: fixed;
}

.navbar-nav {
  margin-left: auto;
}
.navbar-nav li {
  display: flex;
  justify-content: space-evenly;
}

footer div a {
  color: white;
  text-decoration: underline;
}
footer a:hover {
  color: rgb(185, 182, 182);
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(32, 31, 31);
  color: white;
  text-align: center;
}
.footer p {
  margin-bottom: 0px;
}

.miniFooter {
  margin-left: 10px;
}

.fondoProductos aside {
  border-radius: 5px;
  background-color: white;
  width: 15%;
  height: 100%;
  margin-right: 170px;
  position: relative;
  left: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
}
.fondoProductos div .limite {
  margin-left: 0px;
}

.buscador {
  border-radius: 10px;
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0.384);
  padding: 3px;
}

.container {
  padding: 5px;
  margin-bottom: 5px;
}

aside p {
  margin-top: 10px;
  margin-bottom: 5px;
}

.col-xl-1 {
  padding-left: 0px;
  padding-right: 0px;
}

.tituloAside {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: rgb(179, 122, 231);
  color: white;
  width: 100%;
  padding: 5px;
}

.opcionAside {
  padding-left: 10px;
}

.pagination {
  position: relative;
  left: -25px;
}

.contacto {
  background-color: lightgray;
  height: 94.9vh;
  width: 100%;
}

main .card {
  top: 13%;
  left: 35%;
}

.mb-4 {
  background-color: white;
}

.center {
  position: relative;
  text-align: center;
}

.cartel {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 300px;
  height: 100px;
  padding: 20px;
  background-color: #333;
  color: #fff;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
}

.cartel:hover {
  height: auto;
  width: 1500px;
}

.cartel:after {
  content: "▼";
  display: block;
  font-size: 20px;
  position: absolute;
  bottom: 10px;
  left: calc(50% - 10px);
  opacity: 0;
  transition: opacity 0.5s ease;
}

.cartel:hover:after {
  opacity: 1;
}

.cartel .contenido-adicional {
  opacity: 0;
  transition: opacity 0s ease;
}

.cartel:hover .contenido-adicional {
  opacity: 1;
}

.space {
  position: sticky;
  padding-top: 50px;
}

.aviso {
  color: #817d7d;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
}

.imginfo {
  width: 400px;
  position: absolute;
  left: 350px;
}

.titleinfo {
  width: 55%;
  position: absolute;
  left: 800px;
}

.infoinfo {
  width: 50%;
  position: absolute;
  left: 800px;
  top: 570px;
  padding-bottom: 50px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.info2info {
  width: 50%;
  position: absolute;
  left: 800px;
  top: 630px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.precio {
  width: 10%;
  position: absolute;
  left: 800px;
  top: 190px;
  font-size: 40px;
}

.demoinfo {
  width: 6.5%;
  position: absolute;
  left: 800px;
  top: 280px;
}

.editoinfo {
  width: 5%;
  position: absolute;
  left: 1000px;
  top: 280px;
}

.demo {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.carrito {
  width: 20%;
  position: absolute;
  left: 800px;
  top: 390px;
}

.miniinfo {
  width: 30%;
  position: absolute;
  left: 800px;
  top: 470px;
  color: rgb(40, 40, 134);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

hr {
  border: none;
  border-top: 1px solid #a09999;
  margin: 20px 0;
}

.final {
  margin-top: 695px;
}

.fondoInicio, .fondoInfo, .fondoPLanzamientos, .fondoOfertas, .fondoProductos {
  height: auto;
  width: 100%;
  background-color: rgb(219, 206, 189);
  padding-right: 90px;
  padding-left: 90px;
}

.fondoProductos {
  padding-top: 100px;
  padding-bottom: 75px;
}

.fondoOfertas {
  height: 94.9vh;
}

.fondoInfo {
  background-color: rgb(250, 247, 247);
  height: 94.9vh;
}

.panel {
  width: 300px;
  height: 400px;
  color: white;
}

main {
  padding-top: 100px;
}
main .container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.limite {
  width: 100%;
  margin-left: 67px;
  margin-right: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

.col-xl-3, .col-lg-4, .col-md-6, .col-sm-12, .col-xs-12 {
  padding-left: 0px;
  padding-right: 0px;
}

div .panel {
  margin-right: 0px;
  margin-bottom: 140px;
}

.mangaTitulo {
  background-color: rgb(228, 223, 223);
}

.estiloTitulo {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: black;
  text-align: center;
}

.title-container {
  clear: both;
  text-align: center;
}

.m-top {
  margin-top: 40px;
  margin-bottom: 40px;
}

.title-container:before, .title-container:after {
  display: table;
  content: " ";
}

.title:after {
  margin-left: 10px;
}

.title:before {
  border-bottom: 1px solid #7D7D7D;
  content: "";
  display: block;
  position: relative;
  margin-left: 90px;
  width: 38%;
  top: 21px;
}

.title:after {
  border-bottom: 1px solid #7D7D7D;
  content: "";
  display: block;
  position: relative;
  margin-left: 57%;
  width: 38%;
  top: -18px;
}

main div a {
  text-decoration: none;
}/*# sourceMappingURL=main.css.map */