// Imports

@import "scss/header.scss";
@import "scss/footer.scss";
@import "scss/productos";
@import "scss/reporte&contacto";
@import "scss/ofertas";
@import "scss/info";
@import "scss/carro";

// Main - CSS

.fondoInicio{
    height: auto;
    width: 100%;
    background-color: rgb(219, 206, 189);

    padding-right: 90px;
    padding-left: 90px
}

.fondoProductos{
    @extend .fondoInicio;

    padding-top: 100px;
    padding-bottom: 75px;
}

.fondoOfertas{
    @extend .fondoInicio;
    height: 94.9vh;
}

.fondoPLanzamientos{
    @extend .fondoInicio;
}

.fondoCarrito{
    @extend .fondoInicio;
    background-color: rgb(250, 247, 247);
    height: 94.9vh;
    padding: 100px;
}

.panel{
    width: 300px;
    height: 400px;
    color: white;
}

main{
    padding-top: 100px;

    & .container-fluid{
        padding-left: 0px;
        padding-right: 0px;
    }
}

.limite{
    width: 100%;
    margin-left: 67px;
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

.col-xl-3, .col-lg-4, .col-md-6, .col-sm-12, .col-xs-12{
    padding-left: 0px;
    padding-right: 0px;
}

div{
    & .panel{
        margin-right: 0px;
        margin-bottom: 140px;
    }
}

.mangaTitulo{
    background-color: rgb(228, 223, 223);
}

.estiloTitulo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    text-align: center;
}

.title-container {
    clear: both;
    text-align: center;
}

.m-top {
    margin-top: 40px;
    margin-bottom: 40px;
}

.title-container:before, .title-container:after{
    display: table;
    content: " ";
}

.title:after{
    margin-left: 10px;
}

.title:before{
    border-bottom: 1px solid #7D7D7D;
    content: "";
    display: block;
    position: relative;
    margin-left: 90px;
    width: 38%;
    top: 21px;
}

.title:after{
    border-bottom: 1px solid #7D7D7D;
    content: "";
    display: block;
    position: relative;
    margin-left: 57%;
    width: 38%;
    top: -18px;
}

main{
    & div{
        & a{
            text-decoration: none;
        }
    }
}

.move{
    position: relative;
    left: 69px;
}

.separacion{
    position: relative;
    margin-left: 120px;
    margin-bottom: 50px;
    right: 35px;
}

div{
    & button{
        background-color: rgb(50, 209, 50);
        border: 2px black solid;
        border-radius: 50px;
    }
}

#carrito{
    display: none;
}

.carrito-posicion{
    padding: 15px;
    position: fixed;
    width: 80px;
    height: 80px;
    left: 1800px;
    top: 790px;
    float: right;
}

