.noDecoration{
  text-decoration: none; 
  color: white;
}

.noDecoration:hover{
  text-decoration: none;
  color: white;
}

#modal2 {
  position: absolute;
  width: 90%;
  max-width: 870px;
  height: 550px;
  overflow-y: auto;
  background-color: #f8f8f8;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  align-items: center;
  top: 100px;
}

#close-modal2{
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: transparent;
  border: 2px rgb(255, 255, 255) solid;
  font-size: 16px;
  color: white;
  background-color: #e71414;
  border-radius: 10px;
  cursor: pointer;
}

.input_label {
  font-size: 15px;
  color: #8B8E98;
  font-weight: 600;
}

.input_sector {
  width: auto;
  height: 40px;
  padding: 0 0 0 16px;
  border-radius: 9px;
  outline: none;
  background-color: #F2F2F2;
  border: 1px solid #e5e5e500;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.input_sector:focus {
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 2px #242424;
  background-color: transparent;
}

.nombreModal{
  width: 30%;
  position: relative;
  top: 100px;
  left: 75px;
}

.form-width{
  width: 30%;
}

.input_position{
  position: relative;
  top: 5px;
  right: 10px;
  
}

.apellidoModal{
  width: 30%;
  position: relative;
  top: 34px;
  left: 325px;
}

.tarjetaModal{
  width: 25%;
  position: relative;
  top: 75px;
  left: 75px;
}

.cvvModal{
  position: relative;
  top: 15px;
  left: 325px;
  width: 10%;
}

.cvvt{
  position: relative;
  left: 10px;
}

.vencimientoModal{
  position: relative;
  left: 550px ;
  top: -49px;
  width: 35%;
}

.mespad{
  margin-right: 20px;
}

.aniowidth{
  width: 20%;
}

.direccionCliente{
  position: relative;
  top: -10px;
  left: 75px;
}

.CPCliente{
  position: relative;
  left: 255px;
  top: -65px;
}

.localidadCliente{
  position: relative;
  left: 480px;
  top: -130px;
}

.form-position{
  position: relative;
  top: -30px;
  height: 400px;
}

.btnposition{
  position: absolute;
  top: 459px;
  right: 90px;
}