.imginfo{
    width: 400px;

    position: absolute;
    left: 150px;
    top: 80px;
    
}

.titleinfo{
    width: 55%;
    position: absolute;
    left: 580px;
    top: 80px;
}

.infoinfo{
    width: 50%;
    position: absolute;
    left: 580px;
    top: 520px;
    padding-bottom: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.info2info{
    width: 50%;
    position: absolute;
    left: 800px;
    top: 630px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.precio{
    width: 10%;
    position: absolute;
    left: 580px;
    top: 130px;
    font-size: 40px;

}

.demoinfo{
    width: 6.5%;
    position: absolute;
    left: 580px;
    top: 220px;
}

.editoinfo{
    width: 5%;
    position: absolute;
    left: 750px;
    top: 222px;
}

.demo{
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
}

.carrito{
    width: 20%;
    position: absolute;
    left: 580px;
    top: 330px;
}

.miniinfo{
    width: 30%;
    position: absolute;
    left: 580px;
    top: 410px;
    color: rgb(40, 40, 134);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

hr {
    border: none;
    border-top: 1px solid #a09999;
    margin: 20px 0;
  }

  .final{
    margin-top: 695px;
  }

.modal-body{
    height: 730px;
}

.modal-xl{
    max-width: 1300px;
}

.btn, .btn-primary{
    position: relative;
    align-items: center;
    align-content: center;
    text-align: center;
}