.center{
    position: relative;
    text-align: center;
}

.cartel {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 300px;
    height: 100px;
    padding: 20px;
    background-color: #333;
    color: #fff;
    font-size: 20px;
    line-height: 1.4;
    text-align: center;
  }
  
  .cartel:hover {
    height: auto;
    width: 1500px;
  }
  
  .cartel:after{
    content: "\25BC";
    display: block;
    font-size: 20px;
    position: absolute;
    bottom: 10px;
    left: calc(50% - 10px);
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  .cartel:hover:after {
    opacity: 1;
  }
  
  .cartel .contenido-adicional {
    opacity: 0;
    transition: opacity 0s ease;
  }
  
  .cartel:hover .contenido-adicional {
    opacity: 1;
  }

  .space{
    position: sticky;
    padding-top: 50px;
  }

  .aviso{
    color: #817d7d;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
  }